body{
		font-family:  Calibri;
		overflow: hidden;
		width: 990px;
		margin: 0 auto;
	}
    #editor {
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 300px;
    }
    #result {
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 300px;
    }
    button{
    	padding: 3px 20px;
    	margin: 9px 0;

	    -webkit-border-radius: 2px;
	    -moz-border-radius: 2px;
	    border-radius: 2px;
	    cursor: default;
	    font-size: 13px;
	    font-weight: bold;
	    text-align: center;
	    white-space: nowrap;
	    margin-right: 16px;
	    
	    line-height: 27px;
	    min-width: 54px;
	    outline: 0px;

	    
    }
    .button-grey
	{
		-webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	    background-color: #f5f5f5;
	    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	    background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
	    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
	    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	    color: #444;
	    border: 1px solid #dcdcdc;
	    border: 1px solid rgba(0,0,0,0.1);
	}
    .button-grey:active
	{
		-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
		-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
		box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
		background:#f8f8f8;color:#333;
	}
    .button-blue {
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	    background-color: #4d90fe;
	    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
	    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
	    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
	    background-image: linear-gradient(top,#4d90fe,#4787ed);
	    border: 1px solid #3079ed;
	    color: #fff;
	}
	.button-blue:active{-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);background:#357ae8;border:1px solid #2f5bb7;border-top:1px solid #2f5bb7
	}